{% extends 'base.html' %} {% block content %}
<body>
  <h1>Add a new book</h1>
  <div>
    <form action="{% url 'book_create' %}" method="POST">
      {% csrf_token %} {{ form.as_p }}

      <button type="submit" style="margin: 10px">Add book</button>
    </form>

    <button style="margin: 10px">
      <a
        href="{% url  'book_list' %}"
        style="text-decoration: none; padding: 10px"
        >Back to list</a
      >
    </button>
  </div>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"
  ></script>
</body>
{% endblock content %}
