{% extends 'base.html' %} {% block content %}
<body>
  <h1>Delete a book</h1>
  <div>
    <form method="POST">
      {% csrf_token %}

      <p>Are you sure you want to delete {{ book.title }} ?</p>

      {{ form.as_p }}

      <button type="submit">YES</button>
      <button type="submit">
        <a
          href="{% url 'book_list' %}"
          style="text-decoration: none; color: black"
          >No</a
        >
      </button>
    </form>
  </div>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"
  ></script>
</body>
{% endblock content %}
