{% extends 'base.html' %} {% block content %}

<h2 class="mb-3">Pending Book Requests</h2>
{% if pending_requests %} {% include 'partials/request_table.html' with
requests=pending_requests status='pending' %} {% else %}
<p>No pending requests.</p>
{% endif %}

<hr />

<h2 class="mb-3">Approved Book Requests</h2>
{% if approved_requests %} {% include 'partials/request_table.html' with
requests=approved_requests status='approved' %} {% else %}
<p>No approved requests.</p>
{% endif %}

<hr />

<h2 class="mb-3">Rejected Book Requests</h2>
{% if rejected_requests %} {% include 'partials/request_table.html' with
requests=rejected_requests status='rejected' %} {% else %}
<p>No rejected requests.</p>
{% endif %} {% endblock %}
